@{
    ViewBag.Title = "clupdated";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>client updated</title>
    <meta charset="utf-8">
    <link rel="icon" href="~/Content/images/favicon.ico">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/jquery-migrate-1.1.1.js"></script>
    <script src="~/Content/js/superfish.js"></script>
    <script src="~/Content/js/jquery.equalheights.js"></script>
    <script src="~/Content/js/jquery.easing.1.3.js"></script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" media="screen" href="css/ie.css">
    <![endif]-->
</head>
<body>
    <header>
        <div class="container_12">
            <div class="grid_12">
                <h1><a href="~/Home/index"><img src="~/Content/images/logo.png" alt=""></a> </h1>
                <div class="clear"></div>
                <div class="menu_block">
                    <h2> Lawyer's profile</h2>
                    <nav>
                        <ul class="sf-menu">
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>

                            <li><a href="~/Admin/lawyerLogOut">log out</a></li>

                        </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="container_12">

            <div class="grid_7" style="text-align:center;">
                <div class="col-sm-6" style="margin-left:25.5%; margin-top:5%; padding:10px">

                    <div class="panel panel-success" style="border-color:#003366">

                        <div class="panel-heading" style="color:white; border-color:#003366; background-color:#003366">
                            <span>Client updated!</span>
                        </div>

                        <div class="grid_7" style="text-align:center;">
                            >
                            <h2 style="color:black; margin-bottom:30px">congratulations!</h2>
                            <h4>
                                <font color=" black">
                                    Client updated successfuly.!!
                                </font>
                            </h4>
                            <p style="width:20%"><a href="../Admin/updateConfirmed"><input type="submit" value="Edit other client" name="submit"></a>
                            <p style="width:20%"><a href="../Admin/ciewc"><input type="submit" value="view clients" name="submit"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container_12">
            <div class="grid_12">
                <h4>contact Us</h4>
                <p>Tazeem Haider &copy; 2016 | | Design by: Design by: <a href="http://intandif.com/portfolio/" class="" target="_blank">Tazeem Haider </a></p>
                <address>
                    Chamber no. 119,High Courts,Lahore Pakistan<br>
                    TELEPHONE: +92 12345678
                    <div>
                        <span>Follow us :</span>
                        <a href="https://www.facebook.com/tazeem.haider" class="facebook" target="_blank">facebook</a>
                    </div>
                </address>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
</body>
</html>
