@{
    ViewBag.Title = "lawprof";

}

@using legalForum.Models;

@*============Middle Div about LAwyer Profile *@
<!DOCTYPE html>
<html lang="en">
<head>
    <title>lawyer Profile</title>
    <meta charset="utf-8">
    <link rel="icon" href="~/Content/images/favicon.ico">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">
    <link rel="stylesheet" href="~/Content/css1/style.css">
    <link rel="stylesheet" href="~/Content/css1/slider.css">
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/jquery-migrate-1.1.1.js"></script>
    <script src="~/Content/js/superfish.js"></script>
    <script src="~/Content/js/jquery.equalheights.js"></script>
    <script src="~/Content/js/jquery.easing.1.3.js"></script>
    <!--[if lt IE 9]>
    <script src="~/Content/js/html5shiv.js"></script>
    <link rel="stylesheet" media="screen" href="~/Content/css1/ie.css">
    <![endif]-->
</head>
<body>
    <header>
        <div class="container_12">
            <div class="grid_12">
                <h1><a href="~/Home/index"><img src="~/Content/images/logo.png" alt=""></a> </h1>
                <div class="clear"></div>
                <div class="menu_block">
                    <h2> @Session["lawyerName"]  </h2>
                    <nav>
                        <ul class="sf-menu">
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            
                            <li><a href="~/Admin/lawyerLogOut">log out</a></li>


                        </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </header>

    <div class="top_block">
        <div class="slider-relative">
            <div class="slider-block">
                <div class="slider">

                    <div class="mask">
                        <div style="left: 0px; top: 0px; position: absolute; width: 1315px; height: 560px; opacity: 1; display: normal; background-image: url(&quot;~/Content/images/&quot;); background-position: 0px 0px;">

                            <ul class="pagination">
                                <li class="current"><a href="#"></a></li>
                                <li class=""><a href="#"></a></li>
                                <li class=""><a href="#"></a></li>
                                <li class=""><a href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="pic">
                        <ul class="items">
                            <li>
                                <img src="~/Content/images/slide3.jpg" alt="">
                                <div class="banner">
                                    Well being of our<br>
                                    clients first!
                                </div>
                            </li>

                            <li>
                                <img src="~/Content/images/slide1.jpg" alt="">
                                <div class="banner">
                                    Make a right<br>
                                    Choise
                                </div>
                            </li>

                            <li>

                                <img src="~/Content/images/slide.jpg" alt="">
                                <div class="banner">
                                    The experience<br>
                                    You May Trust
                                </div>
                            </li>

                            <li>
                                <img src="~/Content/images/slide2.jpg" alt="">
                                <div class="banner">
                                    We will show you the<br>
                                    way to success!
                                </div>
                            </li>
                            

                        </ul>

                    </div>


                </div>

            </div>
        </div>
    </div>
    <div class="content">
        <div class="container_12">

            <div class="grid_7" style="text-align:center;">
                <h3>


                    <br><br><br>
                    <a href="/Admin/ciewc">View all Client</a><br><br>
                    <a href="/Admin/addc">Add a client</a><br><br>
                    <a href="/Admin/updateConfirmed">Update client</a><br><br>
                    <a href="/Admin/delete">Delete client</a><br><br>
                    <a href="/Admin/change">Change Password</a><br><br>
                   
                </h3>
            </div>
        </div>
    </div>
    <footer>
        <div class="container_12">
            <div class="grid_12">
                <h4>contact Us</h4>
                <p>Tazeem Haider &copy; 2016 | | Design by: Design by: <a href="http://intandif.com/portfolio/" class="" target="_blank">Tazeem Haider </a></p>
                <address>
                    Chamber no. 119,High Courts,Lahore Pakistan<br>
                    TELEPHONE: +92 12345678
                    <div>
                        <span>Follow us :</span>
                        <a href="https://www.facebook.com/tazeem.haider" class="facebook" target="_blank">facebook</a>
                    </div>
                </address>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
</body>
</html>