@{
    ViewBag.Title = "updateConfirmed";
}
@model List<legalForum.Models.client>

<h2>select client</h2>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>update Clients</title>
    <meta charset="utf-8">
    <link rel="icon" href="~/Content/images/favicon.ico">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/jquery-migrate-1.1.1.js"></script>
    <script src="~/Content/js/superfish.js"></script>
    <script src="~/Content/js/jquery.equalheights.js"></script>
    <script src="~/Content/js/jquery.easing.1.3.js"></script>
    <!--[if lt IE 9]>
    <script src="~/Content/js/html5shiv.js"></script>
    <link rel="stylesheet" media="screen" href="~/Content/css/ie.css">
    <![endif]-->
</head>
<body>
    <header>
        <div class="container_12">
            <div class="grid_12">
                <h1><a href="~/Home/index"><img src="~/Content/images/logo.png" alt=""></a> </h1>
                <div class="clear"></div>
                <div class="menu_block">
                    
                    <nav>
                        <ul class="sf-menu">
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li><a href="~/Admin/lawprof">My Profile</a></li>
                            <li><a href="~/Admin/lawyerLogOut">log out</a></li>

                        </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="col-sm-5" style="margin:0px; padding:0px">

            <div>
                <h3 style="font-family:Georgia; margin-left:8px; color:#a94442"><b>update clients</b></h3>
            </div>

            <div class="panel panel-danger" style="margin: 80px 0px 0px 80px">

            
                    <section id="main-content">
                        <section class="wrapper">
                      

                            <!-- BASIC FORM ELELEMNTS -->
                            <div class="row mt">
                                <div class="col-lg-12">
                                    <div class="form-panel">
                  

                                        <table class="table">

                                            <tr style="background-color:#f2dede;">
                                                <td style="text-align:center; color:#a94442"><b>client ID</b></td>
                                                <td style="text-align:center; color:#a94442"><b>client Name</b></td>
                                                <td style="text-align:center; color:#a94442"><b>client age</b></td>
                                               

                                                <td style="text-align:center; color:#a94442"><b>      </b></td>
                                            </tr>

                                            @foreach (var p in Model)
                                            {
                                                if (p.lawyer_id == Convert.ToInt32(Session["lawyerId"]))
                                                {
                                                    <tr>
                                                        <td style="text-align:center">@p.client_id</td>
                                                        <td style="text-align:center">@p.client_name</td>
                                                        <td style="text-align:center">@p.client_age</td>
                                                        

                                                        <td style="text-align:center">
                                                            <form action="/Admin/update/@p.client_id" onsubmit="return agree()">
                                                                <input type="submit" value="Update" style="border:none; border-radius:3px; color:purple;font-weight:600" class="btn-warning" />
                                                            </form>

                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        </table>
                                    </div>
                                </div><!-- col-lg-12-->
                            </div><!-- /row -->
                        </section>
                    </section>
                </div>
            </div>
        </div>
    <footer>
        <div class="container_12">
            <div class="grid_12">
                <h4>contact Us</h4>
                <p>Tazeem Haider &copy; 2016 | | Design by: Design by: <a href="http://intandif.com/portfolio/" class="" target="_blank">Tazeem Haider </a></p>
                <address>
                    Chamber no. 119,High Courts,Lahore Pakistan<br>
                    TELEPHONE: +92 12345678
                    <div>
                        <span>Follow us :</span>
                        <a href="https://www.facebook.com/tazeem.haider" class="facebook" target="_blank">facebook</a>
                    </div>
                </address>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
</body>
</html>
