<!DOCTYPE html>
<html lang="en">
<head>
    <title>Legal Forum| About</title>
    <meta charset="utf-8">
    <link rel="icon" href="~/Content/images/favicon.ico">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/jquery-migrate-1.1.1.js"></script>
    <script src="~/Content/js/superfish.js"></script>
    <script src="~/Content/js/jquery.equalheights.js"></script>
    <script src="~/Content/js/jquery.easing.1.3.js"></script>
    <!--[if lt IE 9]>
    <script src="~/Content/js/html5shiv.js"></script>
    <link rel="stylesheet" media="screen" href="~/Content/css/ie.css">
    <![endif]-->
</head>
<body>
    <header>
        <div class="container_12">
            <div class="grid_12">
                <h1><a href="~/Home/index.html"><img src="~/Content/images/logo.png" alt=""></a> </h1>
                <div class="clear"></div>
                <div class="menu_block">
                    <nav>
                        <ul class="sf-menu">
                            <li><a href="~/Home/index">Back</a></li>
                            <li><a href="~/Home/index1">Log in</a></li>
                           
                        </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </header>
    <div class="top_block tb1">
        <div class="container_12">
            <div class="grid_4">
                <h2>About Us</h2>
                <img src="~/Content/images/page2_img1.jpg" alt="" class="img_inner">
                <p class="p1">we provide a platform for lawyers and clients. Legal Forum provides you facility to be updated to your case on internet. </p>
                At Legal Forum, lawyers can manage all clients on a place and clients get updated with case details when they dont need to come in the court. <br>
                
            </div>
            <div class="grid_6 prefix_2">
                <h2>Lawyers</h2>
                <img src="~/Content/images/page2_img3.jpg" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                    <div class="text1">Haider</div>
                    <a href="#">Haider is a very talented berrister. One of the best lawyers in the Pakistan. He has taken almost 150 cases among which he has won 128 cases almost.</a>
                </div>
                <div class="clear off1"></div>
                <img src="~/Content/images/page2_img2.jpg" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                    <div class="text1">Aitzaz</div>
                    <a href="#">One of the young talented and energetic lawyers. He is Attorney, practicing in Lahore high courts.He has resolved 75% of his cases so far. </a>
                </div>
                <div class="clear off1"></div>
                <img src="~/Content/images/page2_img4.jpg" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                    <div class="text1">Hareem</div>
                    <a href="#">An extra ordinary intelligent lawyer. Very responsable and hard working . she has resolved 80% of her cases till now.</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content bdt0">
        <div class="container_12">
            <div class="grid_12">
                <h3 class="head1">How We Work</h3>
            </div>
            <div class="grid_3">
                <div class="text1"><img src="~/Content/images/icon1.png" alt="" class="icon">Curabitur non neque tortor</div>
                Eget pretium lorem. Ellentesque diam suscipit eros lobortis ullamco rper. Curabitur  tortor. Oonec et cursus justo. Maecenas suscipit metus magna dolor semper. Metus ictumet cursus magna. <br>
                
            </div>
            <div class="grid_3">
                <div class="text1"><img src="~/Content/images/icon2.png" alt="" class="icon">Fusce laoreet pulvinar </div>
                Ut consequat felis non est sodales kom lacinia. Cras eget pretium lorem. Elle jo ntesque diam suscipit eros lobortis bjo ullamco rper. Curabitur  tortor. Oonec et cursus justo. Maecenas suscipit. <br>
                
            </div>
            <div class="grid_3">
                <div class="text1"><img src="~/Content/images/icon3.png" alt="" class="icon">Praesent lacus turpis </div>
                Nam sodales lectus porttitor auctor volutpat magna quam aliquet magna ac iaculis felis nisl facilisis urna eget hio pretium lorem. Ellentesque diam sumk scipit eros ullamco rper urabitur. <br>
                
            </div>
            <div class="grid_3">
                <div class="text1"><img src="~/Content/images/icon4.png" alt="" class="icon">Vivamus ac dui a orci</div>
                Nunc diam tellus scelerisque id pos nkj uere consequatl lorem. Ut consequat felis non est sodales lacinia.Cras eget pretium lorem. Urabitur  tortor. Oonec et cursus justo. Maecenas suscipit metus. <br>
                
            </div>
        </div>
    </div>
    <footer>
        <div class="container_12">
            <div class="grid_12">
                <h4>contact Us</h4>
                <p>Tazeem Haider &copy; 2016 | | Design by: <a href="http://intandif.com/portfolio/" class="" target="_blank">Tazeem Haider </a></p>
                <address>
                    Chamber no. 119,High Courts,Lahore Pakistan<br>
                    TELEPHONE: +92 12345678
                    <div>
                        <span>Follow us :</span>
                        <a href="https://www.facebook.com/tazeem.haider" class="facebook" target="_blank">facebook</a>
                    </div>
                </address>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
 
</body>
</html>