<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gerald Harris | Contacts</title>
    <meta charset="utf-8">
    <link rel="icon" href="~/Content/images/favicon.ico">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/form.css">
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/jquery-migrate-1.1.1.js"></script>
    <script src="~/Content/js/superfish.js"></script>
    <script src="~/Content/js/forms.js"></script>
    <script src="~/Content/js/jquery.equalheights.js"></script>
    <script src="~/Content/js/jquery.easing.1.3.js"></script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" media="screen" href="css/ie.css">
    <![endif]-->
</head>
<body>
    <header>
        <div class="container_12">
            <div class="grid_12">
                <h1><a href="~/Home/index"><img src="~/Content/images/logo.png" alt=""></a> </h1>
                <div class="clear"></div>
                <div class="menu_block">
                    <nav>
                        <ul class="sf-menu">
                            <li><a href="~/Home/index">Log in</a></li>
                            <li class="with_ul">
                                <a href="~/Home/about">ABOUT</a>
                               
                        </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="container_12">
            
            <div class="grid_5 prefix_1">
                <h2 class="head2">SIGN UP</h2>
                <form action=" ~/Home/addlawyer" method="Post">
                    <font>


                        <div style="text-align:center;">
                            <br><br>


                            Name : <input type="text" name="ln" required style="margin-right: 55px; margin-left: 20px;"> <br><br>
                            Father Name: <input type="text" name="lfn" required style="margin-right: 110px; margin-left: 20px;"><br><br>
                            LawyerType: <input type="text" name="tp" required style="margin-right: 80px; margin-left: 20px;"><br><br>
                            Address : <input type="text" name="add" style="margin-right: 70px; margin-left: 20px;"> <br><br>
                            Age : <input type="text" name="age" required style="margin-right: 55px; margin-left: 20px;"> <br><br>

                            Password : <input type="password" name="pas" required style="margin-right: 80px; margin-left: 20px;"> <br><br>
                            <input type="radio" name="sex" value="male" /> Male
                            <input type="radio" name="sex" value="female" /> Female <br> <br>
                            <input type="submit" value="Sign Up" style="padding:5px;">


                        </div>
                    </font>

                </form>
            </div>
        </div>
    </div>
    <footer>
        <div class="container_12">
            <div class="grid_12">
                <h4>contact Us</h4>
                <p>Tazeem Haider &copy; 2016 | | Design by: Design by: <a href="http://intandif.com/portfolio/" class="" target="_blank">Tazeem Haider </a></p>
                <address>
                    Chamber no. 119,High Courts,Lahore Pakistan<br>
                    TELEPHONE: +92 12345678
                    <div>
                        <span>Follow us :</span>
                        <a href="https://www.facebook.com/tazeem.haider" class="facebook" target="_blank">facebook</a>
                    </div>
                </address>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
</body>
</html>